
.wrapper {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.url-edit-field {
  width: 100%;
}

button {
  display: block;
  padding: 5px;
  margin: 10px auto 0 auto;
}

.url-parametrs-block {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  border: 1px solid black;
}

.url-parametrs-block__url {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px;

  border-bottom: 0px;
  background-color: darkseagreen;
}

.url-parametrs-block__parametr {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-top: 1px solid black;
  background-color: beige;
}


.url-parametrs-block__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 5px;
}

.url-parametrs-block__cell:hover {
  background-color: aqua;
  
}

.url-parametrs-block__cell--header {
  background-color: darkseagreen;
}
            
.url-parametrs-block__cell + .url-parametrs-block__cell  {
  border-left: 1px solid black;
}